<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit country</title>
</head>
<body>
<input type="button" value="Back country list" onclick="window.location.href='/country-list' " />
<h1>Edit this Country</h1>
<b><p th:text="${message}"></p></b>
<form method="post" th:action="@{/country-edit}" th:object="${countries}">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Country name:</td>
            <td><input type="text" th:field="*{countryName}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Edit</button>
            </td>
        </tr>
    </table>
</body>
</html>